body {

}

footer {
    padding: 2% 0;
}

.new-slider div.new-abum {
    display:flex;
    padding:10px;
    justify-content: center;

}

.new-slider div.new-abum img {
    width:200px;

}

section.new-on-cascade {
    padding: 0 5%;
    padding-bottom:2%;
    background:#000;
    color:#fff;
    text-align:center;
    font-family: 'Kodchasan', sans-serif;
}
section.new-on-cascade h1 {
    padding:2%;
}

section.new-on-cascade a {
    text-decoration:none;
}

section.new-on-cascade p {
    color:#fff;
    margin:12px 0;
    text-transform:uppercase;
}

.bi-chevron-left::before,
.bi-chevron-right::before {
    width:40px;
    height:40px;
    color:#fff;
}

.how {
    font-family: 'Kodchasan', sans-serif;
    padding:4% 5%;
    background:#fff;

}

.how h1 {
    text-align:center;
    padding-bottom:2%;
}

.how-cards {
    display:flex;
    justify-content: space-around;
}

.how-cards .card {
    border:2px solid #F06D4E;
}

.how-cards .card .list-group-item {
    border:none;
    padding:20px;
    display: flex;
    align-items: center;
}

.bi-person-circle::before
 {
    content: "\f4d7";
    font-size: 120px;
    color: #F06D4E;
}
.bi-person-bounding-box::before {
    font-size: 120px;
    color: #F06D4E;
}

.how-cards .card .list-group-item .bi::before {
    font-size:32px;
    color:#F06D4E;
    margin-right:10px;
}

.how-cards .card > .list-group {
    border-bottom:none;
}

.value-artist {
    background:#000;
    display:flex;
    color:#fff;
}

.value-artist h1 {
    color:#F06D4E;
}

.value-left,
.value-right {width:50%;}

.value-left {
    padding:3%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.value-right img {
    max-width:100%;
}

.value-artist .value-left .btn-warning {
    margin-left:0 !important;
}

/* PAGINA UTENTE LOGGATO */

.main-container .container {
    color:#F06D4E;
    padding-top:100px;
    position:relative;
    padding-right:0;
    padding-left:0;
}

.justify-content-between img {
    width:100%;
}

.latest-albums .mx-2 {
    width:25%;
}
.latest-albums .mx-2 a,
#my-favourites .mx-2 a {
    text-decoration:none;
}

.my-favourites {
    width:700px;
    margin:0 auto;
}

.latest-albums .mx-2 p{
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    margin-bottom:0;
    margin-top:10px;

}

#my-favourites .mx-2 p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin:0 auto;
    margin-bottom: 0;
    margin-top: 10px;
    width: 94%;
}



.my-favourites img {
    width: 70%;
    margin:0 auto;
}

section#my-favourites {
    padding-bottom: 4%;
}

#user-search {
    display:none;
}

#user-search.my-4 {
    margin-bottom:0 !important;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item.search-close {
    display:none;
}

.simp-controls.flex-align {
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
}

#simp {
    max-width: 500px;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    text-align: initial;
    line-height: initial;
    background: #17212b;
    color: #ddd;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
}

.simp-playlist {
    visibility: hidden;
}

#simp .simp-controls button {
    font-size: 28px;
    background: none;
    color: #ddd;
    padding: 7px;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    
}

#simp .simp-controls .simp-tracker, #simp .simp-controls  {
    
    margin-left: 10px;
    position: relative;
}
#simp .simp-controls .simp-time, #simp .simp-controls .simp-others {
    margin-left: 10px;
}

.simp-tracker.simp-load,
.simp-volume.flex.flex-align
 {
    display: flex;
}

.simp-player {
    padding: 15px;
}

input.simp-v-slider {
    display: none;
}

.simp-display {
    padding: 15px;
}