.new-slider div.new-abum {
    display:flex;
    padding:10px;
    justify-content: center;
    
}

.new-slider div.new-abum img {
    width:200px;
    
}

section.new-on-cascade {
    padding: 0 5%;
    padding-bottom:2%;
    background:#000;
    color:#fff;
    text-align:center;
    font-family: 'Kodchasan', sans-serif;
}
section.new-on-cascade h1 {
    padding:2%;
}

section.new-on-cascade a {
    text-decoration:none;
}

section.new-on-cascade p {
    color:#fff;
    margin:12px 0;
    text-transform:uppercase;
}

.bi-chevron-left::before,
.bi-chevron-right::before {
    width:40px;
    height:40px;
    color:#fff;
}

